@font-face {
  font-family: 'Archivo Black';
  src: url('ArchivoBlack-Regular.woff2') format('woff2'),
    url('ArchivoBlack-Regular.woff') format('woff');
  /* font-weight: 900;
  /* font-style: normal;
    font-display: swap; */
}

:root {
  --background-color: #e8e8e8;
  --font-color: #d15858;
  --accent-color: #fbcee6;
}
* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
}

@media screen and (min-width: 768px) {
  body {
    background-color: var(--background-color);
  }
}
@media screen and (min-width: 1023px) {
  body {
    background-color: black;
  }
}

h1 {
  color: var(--font-color);
  font-family: 'Archivo Black';
  font-size: 1rem;
  border: 5px dotted #d15858;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--accent-color);
  height: 400px;
  width: 400px;
}

li {
  display: block;
  list-style: none;
  color: #d15858;
  font-family: 'Archivo Black';
  font-size: 12px;
}

.text {
  color: var(--font-color);
  font-size: 15px;
  font-family: 'Archivo Black';
  width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.button a {
  color: #da3434;
  border: 3px solid #d15858;
  font-family: 'ArchivoBlack-Regular';
}

footer {
  color: #d15858;
}
