* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

body {
  background-color: #e8e8e8;
}

/* @media screen and (min-width: 768px) {
  body {
    background-color: black;
  }
}
@media screen and (min-width: 1023px) {
  body {
    background-color: white;
  }
  .profile-image {
    margin-left: 520px;
  }
} */

h1 {
  color: #d15858;
  font-family: sans-serif;
  font-size: large;
  border: 5px dotted #d15858;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  background-color: #fbcee6;
  height: 100%;
  width: 400px;
}

li {
  display: block;
  list-style: none;
  color: #d15858;
}
