@font-face {
  font-family: 'Archivo Black';
  src: url('ArchivoBlack-Regular.woff2') format('woff2'),
    url('ArchivoBlack-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Sora regular';
  src: url('Sora-Regular.woff2') format('woff2'),
    url('Sora-Regular.woff') format('woff');
  font-weight: normal;
}

:root {
  --background-color: #e8e8e8;
  --font-color: #d15858;
  --accent-color: #f2e2ff;
}
* {
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    background-color: var(--background-color);
  }
}
@media screen and (min-width: 1023px) {
  body {
    background-color: black;
  }
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
body {
  background-color: var(--background-color);
  margin: 0;
}

h1 {
  color: var(--font-color);
  font-family: 'Archivo Black';
  font-size: 2.5rem;
  border: 5px dotted #d15858;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--accent-color);
  width: 450px;
}

/* .box img {
  width: 100%;
  max-width: 500px;
} */

.text {
  color: var(--font-color);
  font-size: 30px;
  width: 300px;
  font-family: monospace;
  align-self: center;
}

li {
  list-style: none;
  color: #d15858;
  font-family: 'Sora Regular';
  font-size: 20px;
}

.review {
  font-size: 25px;
  font-family: 'Archivo Black';
  margin-bottom: 10px;
}

/* .image {
  align-self: center;
} */

.artist {
  font-family: 'Archivo Black';
  font-size: 20px;
  color: black;
  margin: 10px;
}

.single {
  font-family: 'Archivo Black';
  font-size: 15px;
  color: black;
  margin: 10px;
}

.date {
  font-family: 'Archivo Black';
  font-size: 15px;
  color: black;
  margin: 10px;
}

.button a {
  color: #da3434;
  border: 3px solid #d15858;
  font-family: 'ArchivoBlack-Regular';
  font-size: 30px;
}

.concertDay {
  color: var(--font-color);
  font-size: 30px;
  width: 300px;
  font-family: monospace;
  align-self: center;
}

.concertTickets {
  color: var(--font-color);
  font-size: 30px;
  width: 300px;
  font-family: monospace;
  align-self: center;
}

footer {
  color: #d15858;
}
