@font-face {
  font-family: 'Archivo Black';
  src: url('ArchivoBlack-Regular.woff2') format('woff2'),
    url('ArchivoBlack-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Sora';
  src: url('Sora-Regular.woff2') format('woff2'),
    url('Sora-Regular.woff') format('woff');
  font-weight: normal;
}
