/* Smartphone */

@media screen and (max-width: 460px) {
  header {
    height: 208px;
  }

  .container {
    width: 386px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin: 2px;
  }
}

/*  Tablet  and Desktops */

@media screen and (min-width: 700px) {
  .box {
    width: 450px;
    justify-content: center;
    align-self: center;
  }

  .review {
    font-size: 1.9rem;
  }

  .artist {
    font-size: 1.25rem;
  }

  .date {
    font-size: 0.9rem;
  }

  footer {
    margin: 5px;
    font-size: 1.1rem;
  }
}
