/* Smartphone */

@media screen and (max-width: 460px) {
  body {
    background-image: url(/img/first-project-background.png);
  }

  .container {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    margin: 2px;
  }
}

/*  Tablet  and Desktops */

@media screen and (min-width: 700px) {
  .box {
    width: 450px;
    justify-content: center;
    align-self: center;
  }
  .review {
    font-size: 30px;
  }

  .artist {
    font-size: 20px;
  }

  .date {
    font-size: 15px;
  }

  footer {
    margin: 5px;
    font-size: 18px;
  }
}
