:root {
  --background-color: #e8e8e8;
  --font-color: #d15858;
  --accent-color: #f2e2ff;
  --text-s-color: #004477;
}
* {
  box-sizing: border-box;
}
/* Header contains everything in the header.php. */
header {
  display: flex;
  justify-content: center;
  background-color: var(--font-color);
  height: 220px;
}

/* Main element that is set to flex so all the children can be placed in center. */
main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
/* Background color is an image. */
body {
  background-image: url('/img/first-project-background.png');
  margin: 0;
}

h1 {
  color: var(--font-color);
  font-family: 'Archivo Black';
  font-size: 2.5rem;
  border: 5px dotted #d15858;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

/* The container class is the parent for the main contet such as array, loop and functions. */
.container {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* The box class is the main child to the conatiner parent. */
.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--accent-color);
  width: 390px;
}

.text {
  color: var(--font-color);
  font-size: 1.9rem;
  width: 300px;
  font-family: 'Sora';
  margin-left: 10%;
  margin-right: 10%;
}
/* List that contains the array $albums. */
li {
  list-style: none;
  color: #d15858;
}

/* Class in the list above. */
.review {
  font-size: 1.6rem;
  font-family: 'Archivo Black';
  margin-bottom: 10px;
}
.review:hover {
  color: #c90500;
}

/* Class in the list above. */
.image {
  width: 340px;
  opacity: 1;
  transition: 0.3s;
}
.image:hover {
  opacity: 0.6;
}

/* Class in the list above. */
.single {
  font-family: 'Sora';
  font-size: 1.25rem;
  color: var(--text-s-color);
  margin: 10px;
}

/* Class in the list above. */
.artist {
  font-family: 'Sora';
  font-size: 1rem;
  color: var(--text-s-color);
  margin: 10px;
}

/* Class in the list above. */
.date {
  font-family: 'Archivo Black';
  font-size: 0.7rem;
  color: var(--text-s-color);
  margin: 10px;
  width: 250px;
}

.button a {
  color: #da3434;
  border: 3px solid #d15858;
  font-family: 'Archivo Black';
  font-size: 1.9rem;
}

/* class that includes another class, concert, and two functions. */
.gunnoConcert {
  color: var(--text-s-color);
  font-size: 1.25rem;
  width: 300px;
  font-family: 'Sora';
  margin-bottom: 0;
  transition: 1s;
}

.concert {
  color: var(--text-s-color);
  font-size: 1.6rem;
  width: 300px;
  font-family: 'Archivo Black';
  font-weight: bold;
  margin-bottom: 0px;
}

.concert:hover {
  color: var(--font-color);
}

footer {
  color: var(--text-s-color);
  font-family: 'Archivo Black';
  border: solid 1px var(--text-s-color);
  padding: 10px;
  margin: 1px;
}
